

<div class="row">
  <div class="col">
    <app-search-form [query]="query | async" (search)="search($event)"></app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">

    <div class="alert alert-danger"
    *ngIf="message">
      {{message}}
    </div>

    <ng-container *ngIf="(results | async) as albums"> 
      <app-results-grid [results]="albums"></app-results-grid>
    </ng-container>
    
  </div>
</div>