<div class="row">
  <div class="col">
    <h3>{{results.name}}</h3>
    <small class="text-muted">{{this.query}}</small>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- <app-album-card [album]="?????"></app-album-card> -->
  </div>
  <div class="col">
    <dl>
      <dt>Album Name:</dt>
      <dd>{{results.name}}</dd>
      <dt>Artist Name:</dt>
      <dd>{{results.artists[0].name}}</dd>
      <dt>Image:</dt>
      <dd><img src="{{results.images[1].url}}"></dd>
    </dl>
  </div>
</div>
