<form [formGroup]="searchForm" class="mb-3">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      [formControlName]="'query'"
    />
    <!--
       [formControl]="searchForm.get('query')" -->

    <button class="btn btn-outline-secondary" (click)="submit()">Search</button>
  </div>

  <!-- <app-form-errors [field]="searchForm.get('query')"></app-form-errors> -->
  <div *ngIf="searchForm.get('query') as field">
    <div *ngIf="field.dirty || field.touched">
      <div *ngIf="field.hasError('required')">Query is required</div>
      <div *ngIf="field.getError('minlength') as error">
        Query must be at least {{ error.requiredLength }} characters
        <!-- {{ field.getError("minlength") | json }} -->
      </div>
    </div>
  </div>

  <a (click)="advOptions = !advOptions"> Advanced </a>
  <div *ngIf="advOptions" [formGroupName]="'extras'">
    <input type="text" [formControlName]="'type'" />
  </div>
</form>
