<form #formRef="ngForm" (ngSubmit)="submit(formRef)">
  <div class="form-group mb-3">
    <label>Name:</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="playlist.name"
      name="name"
      #nameRef="ngModel"
    />
    <p class="text-muted">{{ nameRef.value?.length }} / 180</p>
  </div>

  <div class="form-group mb-3">
    <label
      ><input type="checkbox" [ngModel]="playlist.public" name="public" />
      Public</label
    >
  </div>

  <div class="form-group mb-3">
    <label>Description:</label>
    <textarea
      class="form-control"
      [ngModel]="playlist.description"
      name="description"
    ></textarea>
  </div>

  <button type="button" (click)="extra = !extra">extra</button>
  <div ngModelGroup="step2" *ngIf="extra">
    <input type="text" name="extra" ngModel />
  </div>

  <pre>    {{ formRef.value | json }}</pre>

  <button class="btn btn-info" (click)="clickCancel()">Cancel</button>
  <button class="btn btn-info" type="submit">Save</button>
</form>
